:root {
    --primary-color: #1A1A1A;
    --text-color: rgb(240, 240, 240);
    --accent-color: rgb(217, 155, 255);
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.project-title h1 {
    margin: 0;
}

.project-title p {
    margin-top: 0;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    text-decoration: none;
}

li {
    padding: 8px;
}

 /* header and nav links */

header {
    height: 144px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.topnav {
    overflow: hidden;
    /* background-color: #333; */
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.topLink {
    transition: all 0.3s ease-in-out;
    border-bottom: 2px #1A1A1A solid;
}

.topLink:hover {
    border-bottom: 2px var(--accent-color) solid;
}

footer {
    text-align: center;
}

footer p {
    padding: 48px;
}

.project-title {
    text-align: center;
}

h1, h2 {
    margin: 32px 0;
    font-weight: 500;
}

p {
    margin: 16px 0;
    color:rgb(199, 199, 199);
    font-size: 14px;
}

img {
    width: 100%;
}

.container {
    max-width: 1592px;
    margin: 0 auto;
    padding: 0 64px;
}

.about {
    max-width: 800px;
}

.about p {
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr;
    gap: 8px;
    margin-top: 8px;
}

#zeroMarginTop {
    margin-top: 0px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    color: var(--accent-color);
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: var(--accent-color) 1px solid;
    transition: transform 150ms ease-out;
}

button:hover {
    transform: scale(1.05);
    color: var(--primary-color);
    background-color: var(--accent-color);
}

button:active {
    transform: scale(0.95);
}

.motionDesign.flex {
    display: flex;
    flex-wrap: wrap;

}

#feelFree {
    margin-top: 32px;
    margin-bottom: 0px;
    overflow: overlay;
}

#email {
    display: inline;
    margin-top: -32px;
}

.others {
    margin-top: 64px;
}

#socialLinks a svg {
    width: 1.8rem;
    height: 1.8rem;
    display: inline;
    padding-right: 8px;
    border-radius: 0px;
}

svg path {
    transition: all 150ms ease-in-out;
}

#socialLinks a svg:hover path {
    fill: var(--accent-color);
}

#socialLinks {
    margin-bottom: 160px;
}

#email {
    transition: all 150ms ease-in-out;
    color: var(--text-color);
}

#email:hover {
    color: var(--accent-color);
}

.projectContainer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    display: flex;
}

.projectContainer::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(0.55 * 100%);
}

.projectContainer h2, .projectContainer p {
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in-out;
    margin: 0;
    background-color: transparent;
    transform: translateY(16px);
}

.detailsContainer {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1a1a1a00;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.detailsContainer:hover {
    background-color: #1a1a1ad6;
}

.detailsContainer:hover > h2 {
    transform: translateY(0px);
    opacity: 1;
}

.detailsContainer:hover > p {
    transform: translateY(0px);
    transition-delay: .01s;
    opacity: 1;
}

.metropolis {
    background-image: url("../assets/Metropolis-and-Mental-Life/main.jpg");
}

.london {
    background-image: url("../assets/London-icons/main.png");
}

.temperamenter {
    background-image: url("../assets/Temperamenter/main.png");
}

.lifebefore {
    background-image: url("../assets/Life-Before-Us/main.png");
}

.camping {
    background-image: url("../assets/Camping/main.png");
}

.pain {
    background-image: url("../assets/Pain/main.png");
}

.lucy {
    background-image: url("../assets/Lusi/vlcsnap-2020-08-08-10h07m24s069.png");
}

.frozen {
    background-image: url("../assets/Frozen/frames/1.png");
}

.frames {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr;
    gap: 8px;
    margin-top: 8px;
}

.gifsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 8px;
}

.campingGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: 8px;
}

.gifsFrames, .campingFrames {
    display: flex;
}

.gifsFrames::before, .campingFrames::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(1 * 100%);
}

.metropolisFrames, .temperFrames, .lifebeforeFrames, .frozenFrames, .gifsFrames, .campingFrames {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-repeat: no-repeat;
}

.metropolisFrames::before, .temperFrames::before, .lifebeforeFrames::before, .frozenFrames::before{
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(0.55 * 100%);
}

.metropolisFrames.f01 {
    background-image: url("../assets/Metropolis-and-Mental-Life/03.jpg");
}
.metropolisFrames.f02 {
    background-image: url("../assets//Metropolis-and-Mental-Life/02.jpg");
}
.metropolisFrames.f03 {
    background-image: url("../assets//Metropolis-and-Mental-Life/05.jpg");
}
.metropolisFrames.f04 {
    background-image: url("../assets/Metropolis-and-Mental-Life/06.jpg");
}
.metropolisFrames.f05 {
    background-image: url("../assets//Metropolis-and-Mental-Life/08.jpg");
}
.metropolisFrames.f06 {
    background-image: url("../assets/Metropolis-and-Mental-Life/07.jpg");
}

.lifebeforeFrames.f01 {
    background-image: url("../assets/Life-Before-Us/frames/1.png");
}
.lifebeforeFrames.f02 {
    background-image: url("../assets/Life-Before-Us/frames/2.png");
}
.lifebeforeFrames.f03 {
    background-image: url("../assets/Life-Before-Us/frames/3.png");
}
.lifebeforeFrames.f04 {
    background-image: url("../assets/Life-Before-Us/frames/4.png");
}
.lifebeforeFrames.f05 {
    background-image: url("../assets/Life-Before-Us/frames/5.png");
}
.lifebeforeFrames.f06 {
    background-image: url("../assets/Life-Before-Us/frames/6.png");
}
.lifebeforeFrames.f07 {
    background-image: url("../assets/Life-Before-Us/frames/7.png");
}
.lifebeforeFrames.f08 {
    background-image: url("../assets/Life-Before-Us/frames/8.png");
}


.temperFrames.f01 {
    background-image: url("../assets/Temperamenter/frames/1.png");
}
.temperFrames.f02 {
    background-image: url("../assets/Temperamenter/frames/2.png");
}
.temperFrames.f03 {
    background-image: url("../assets/Temperamenter/frames/3.png");
}
.temperFrames.f04 {
    background-image: url("../assets/Temperamenter/frames/4.png");
}
.temperFrames.f05 {
    background-image: url("../assets/Temperamenter/frames/5.png");
}
.temperFrames.f06 {
    background-image: url("../assets/Temperamenter/frames/6.png");
}
.temperFrames.f07 {
    background-image: url("../assets/Temperamenter/frames/7.png");
}
.temperFrames.f08 {
    background-image: url("../assets/Temperamenter/frames/8.png");
}


.frozenFrames.f01 {
    background-image: url("../assets/Frozen/frames/1.png");
}
.frozenFrames.f02 {
    background-image: url("../assets/Frozen/frames/2.png");
}
.frozenFrames.f03 {
    background-image: url("../assets/Frozen/frames/3.png");
}
.frozenFrames.f04 {
    background-image: url("../assets/Frozen/frames/4.png");
}

.gifsFrames.f01 {
    background-image: url("../assets/gifs/01-rebar.gif");
}
.gifsFrames.f02 {
    background-image: url("../assets/gifs/02-flex.gif");
}
.gifsFrames.f03 {
    background-image: url("../assets/gifs/03-wizz.gif");
}
.gifsFrames.f04 {
    background-image: url("../assets/gifs/04-pig.gif");
}
.gifsFrames.f05 {
    background-image: url("../assets/gifs/05-squares.gif");
}
.gifsFrames.f06 {
    background-image: url("../assets/gifs/06-hair.gif");
}
.gifsFrames.f07 {
    background-image: url("../assets/gifs/07-ball.gif");
}
.gifsFrames.f08 {
    background-image: url("../assets/gifs/08-love.gif");
}
.gifsFrames.f09 {
    background-image: url("../assets/gifs/09-sleep.gif");
}
.gifsFrames.f10 {
    background-image: url("../assets/gifs/10-ptitim.gif");
}
.gifsFrames.f11 {
    background-image: url("../assets/gifs/11-little-prince.gif");
}
.gifsFrames.f12 {
    background-image: url("../assets/gifs/12-lettering.gif");
}

.campingFrames.f01 {
    background-image: url("../assets/Camping/frames/1.png");
}
.campingFrames.f02 {
    background-image: url("../assets/Camping/frames/2.png");
}
.campingFrames.f03 {
    background-image: url("../assets/Camping/frames/3.png");
}

@media only screen and (max-width: 768px) {

    .container {
        max-width: 752px;
        margin: 0 auto;
        padding: 0 24px;
    }

    .frames {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 12px;
    }

    header {
        height: 96px;
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: center!important;
    }

    header.flex {
        background-color: var(--primary-color);
        display: block;
    }

    header a {
        display: inline;
    }

    .topnav a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
      }

    .topnav {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 75vh;
        position: fixed;
        left: 0;
        top: 10vh;
        margin: 0;
        padding: 0;
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 300ms ease-out;
    }

    .topnav.open {
        clip-path: circle(1350px at 90% -10%);
        -webkit-clip-path: circle(1350px at 90% -10%);
    }

    .topLink {
        position: relative;
        background-color: var(--primary-color);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .line {
        width: 30px;
        height: 3px;
        background-color: #f2f2f2;
        margin: 4px;
    }

    .hamburger {
        position: absolute;
        right: 16px;
        top: 40px;
        cursor: pointer;
        z-index: 2;
    }

    h1 {
        padding-top: 24px;
    }
}

@media only screen and (max-width: 460px) {
    .frames {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}