* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: .95;
}

body {
    background-color: rgb(28, 28, 28);
    margin: 0 auto;
}

.container {
    max-width: 1024px;
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerNoFlex {
    max-width: 1024px;
    margin: 10px auto;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 69px;
    background-color: rgb(28, 28, 28);
    position: sticky;
    top: 0;
    border-bottom: 1px solid seashell;
    padding: 10px;
    z-index: 1;
    opacity: 1;
}

li {
    display: inline-flex;
    justify-content: end;
    padding-left: 1rem;
}

.banner {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner .black {
    background-color: rgb(28, 28, 28);
    padding: 1rem;
    width: 100%;
}

h2, h4 {
    text-align: center;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.boxes, .locationBoxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* position: relative; */
}

.box , .locationBox{
    width: 300px;
    margin: 0 0.5rem;
}

.box img {
    width: 100%;
}

.box h4 {
    margin-top: .5rem;
}

.locationBox {
    background-color:  rgb(28, 28, 28);
    text-align: center;
    margin: 15px .5rem;
}

.locations {
    height: 500px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* margin: 0; */
}

.bottom {
    height: 200px;
    text-align: center;
}