* {
    box-sizing: border-box
}

html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
}

h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 40px;
}

p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
}

.caption {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
}

.container {
    max-width: 1272px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    flex-wrap: wrap;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 32px;

}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

header .container h2{
    padding-bottom: 16px;
    margin: 0;
}

.banner .container {
    display: flex;
    padding-bottom: 96px;
    padding-top: 96px;
}

.banner .container .left h1 {
    margin-top: 0;
}

.left {
    width: 50%;
    padding: 64px;
}

.right {
    width: 396px;
    height: 390px;
    margin: 40px;
    background-image: url(images/bannerImage.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container h2 {
    text-align: center;
}

#keyFeatures .container , #reviews .container, #contactUs .container{
    padding-bottom: 48px;
    padding-top: 48px;
}

#contactUs .container{
    padding-bottom: 40px;
    padding-top: 48px;
}

.featureBoxesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featureBox {
    flex-basis: 386px;
    background-color: beige;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 0;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
}

.featureBox:first-child {
    margin-left: 0;
}

.featureBox img {
    width: 100%;
    height: 336px;
    margin: 0;
    padding: 16px;

}

.featureBox p {
    text-align: center;
    padding-bottom: 0;
    margin: 0;
}

header {
    background-color: aliceblue;
    margin: 0;
    padding-top: 30px;
    /* display: flex; */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    padding-left: 30px;
    display: inline;
    justify-content: end;
}

li a {
    text-decoration: none;
    color: black;
}

.textBox {
    width: 532px;
    height: 168px;
    background-color: darkgray;
    padding: 24px;
}

.reviewContainer {
    position: relative;
    margin-left: 10%;
    margin-bottom: -64px;
}

.reviewerPicture {
    width: 192px;
    height: 192px;
    background-color: coral;
    border-radius: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    left: 456px;
    bottom: 112px;
}

.reviewContainer:nth-child(odd) {
    margin-left: 40%;
    margin-bottom: -144px;
}

.reviewerPicture p {
    text-align: center;
    margin: 0 auto;
    bottom: 24px;
    /* position: absolute; */
}

#contactUs {
    background-color: darkorange;
}

.contactDetailsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.contactDetailBox {
    margin: 30px;
}

.copyrights {
    text-align: center;
}


@media screen and (max-width: 859px) {
    .featureBox:first-child {
        margin-left: 24px;
    }
}

@media screen and (max-width: 593px) {
    nav {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        display: block;
    }

    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .banner .container {
        display: block;
        padding-bottom: 96px;
        padding-top: 96px;
    }
    .left {
        width: 100%;
        padding: 0;
    }
    
    .right {
        width: 100%;
        height: 372px;
        margin: 0;
    }

    .featureBox {
        margin-left: 0;
    }

    .featureBox:first-child {
        margin-left: 0;
    }

    .reviewContainer {
        position: relative;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .reviewContainer:nth-child(odd) {
        margin-left: 0;
        margin-bottom: 0;
    }

    .textBox {
        width: 100%;
        height: auto;
        background-color: darkgray;
        padding: 24px;
        padding-bottom: 96px;
    }

    .reviewerPicture {
        width: 192px;
        height: 192px;
        background-color: coral;
        border-radius: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        right: 0;
        top: -72px;
        left:0;
        bottom: 0;
        margin: 0 auto;
    }

    .contactDetailBox {
        text-align: center;
    }

    .banner .container {
        display: flex;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    button {
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px auto;
        cursor: pointer;
      }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        padding: 0;
    }

    header .container {
        padding-top: 12px;
    }
} 
