body {
    background-color: #EFE6DD;
    margin: 0 10%;
}

h1 {
}

.color-panel {
    display: inline-block;
    margin: 24px 12px;
    padding: 24px;
    width: 16%;
    height: 150px;
    min-width: 150px;
    border: #231F20 solid 1px;
    text-align: center;
    border-radius: 10px;
}

.color-panel.warm-black {
    background-color: #231F20;
}
.color-panel.hamra-red {
    background-color: #BB4430;
}
.color-panel.sky-turkiz {
    background-color: #7EBDC2;
}
.color-panel.cream-yellow {
    background-color: #F3DFA2;
}
.color-panel.off-white {
    background-color: #EFE6DD;
}

.color-panel.warm-black p, .color-panel.hamra-red p {
    color: #EFE6DD;
}

.color-panel.sky-turkiz p, .color-panel.cream-yellow p, .color-panel.off-white p {
    color: #231F20;
}