:root {
    --primary-color: #1A1A1A;
    --text-color: rgb(240, 240, 240);
    --accent-color: rgb(217, 155, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind Madurai', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
}



ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    text-decoration: none;
}

li {
    padding: 8px;
}

header {
    height: 144px;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1, h2 {
    margin: 32px 0;
    font-weight: 500;
}

h2 {
}

p {
    margin: 16px 0;
    color:rgb(199, 199, 199);
    font-size: 14px;
}

img {
    width: 100%;
}

.container {
    max-width: 1560px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 32px;
    transition: all .3s ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    transition: all .3s ease-in-out;

}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.motionDesign.flex {
    display: flex;
    flex-wrap: wrap;

}

.topLink {
    transition: all 0.3s ease-in-out;
    border-bottom: 2px #1A1A1A solid;
}

.topLink:hover {
    border-bottom: 2px var(--accent-color) solid;
}

.projectContainer {
    /* width: 100%; */
    height: calc(25vw);
    max-height: 400px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;

}

.projectContainer h2, .projectContainer p {
    text-align: center;
    opacity: 0;
    transition: all .3s ease-in-out;
    margin: 0;
    background-color: transparent;
    transform: translateY(16px);
}

.detailsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1a1a1a00;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.detailsContainer:hover {
    background-color: #1a1a1ad6;
}

.detailsContainer:hover > h2 {
    transform: translateY(0px);
    opacity: 1;
}

.detailsContainer:hover > p {
    transform: translateY(0px);
    transition-delay: .01s;
    opacity: 1;
}

.metropolis {
    background-color: url("assets/Metropolis-and-Mental-Life/main.jpg");
}

.london {
    background-image: url("assets/London-icons/main.png");
}

.temperamenter {
    background-image: url("assets/Temperamenter/main.png");
}

.lifebefore {
    background-image: url("assets/Life-Before-Us/main.png");
}

.camping {
    background-image: url("assets/Camping/main.png");
}

.pain {
    background-image: url("assets/Pain/main.png");
}

.lucy {
    background-image: url("assets/Lusi/vlcsnap-2020-08-08-10h07m24s069.png");
}

.frozen {
    background-image: url("assets/Frozen/frames/1.png");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 752px;
        margin: 0 auto;
        padding: 0 16px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .projectContainer {
        height: calc(50vw);
    }
    
}
