@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


body {
    background-color: #F6F6F6;
    height: 300vh;
}

.container {
    max-width: 1344px;
    margin: 0 auto;
}

h1 {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 100%;
    /* or 100px */
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}

.miniP {
    font-size: 12px;
}

.opener, .percentages, .percentages02, .belowMax, .revenue {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opener {
    height: 125vh; 
    background-color: #FFDF5A;
    border-radius: 100%;
    transform: scale(2);
    margin: 0 auto;
    padding: 0;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.opener h1 {
    font-size: 50px;
    text-align: center;
}

.opener {
    z-index: 10;
}

.avgPrecentage {
    background-color: #85A6FC;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 350px;
    height: 350px;
    transform: scale(0);
    z-index: 20;
    box-shadow: 4px 4px 0px #000000;
}

.avgPrecentage h1 {
    text-shadow: 4px 4px 0px #000000;
    color: #FFFFFF;
}

.percentages {
    z-index: 9;
    position: relative;
}

.percentages h1 {
    z-index: 11;
}

.belowMax {
    z-index: 8;
}

.revenue {
    z-index: 7;
    background-color: #FFDF5A;
    height: 85vh;
}

.circlesContainer {
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.newCircle {
    transform: scale(0);
    transition: all 300ms ease-out;
    animation: animateIn 300ms ease-out;
}

.newCircle h2 {
    border: 1px solid #000000;
    text-shadow: 2px 2px 0px #000000;
}

.belowMax {
    background-color: #897AC6;
    /* position: relative; */
}

.container .below {
    text-align: left;
    position: absolute;
    bottom: 1080px;
    margin: 0 auto;
}

.below h1 {
    text-align: left!important;
}

.summaryCards {
    display: flex;
}

.summaryCard {
    padding: 24px;
    margin: 24px;
    background: #F6F6F6;
    border: 1.5px solid #000000;
    z-index: 20;
    width: 200px;
}

.revenue img {
    position: absolute;
    transform: scale(.7);
    z-index: 0;
}

.changeShippingCost {
    /* display: none; */
    display: block;
    position: absolute;
    background-color: #F6F6F6;
    width: 287px;
    height: 126px;
    transform: rotate(15deg);
    left: 400px;
    top: -70px;
    padding: 24px;
    opacity: 0;
    border: 1px solid #000000;
    transition: all 200ms ease-in-out;
}

.revenue .container {
    position: absolute;
}

.revenue .container h1:hover .changeShippingCost{
    opacity: 1;
    transform: rotate(-15deg);
}

input, input:active, input:checked, input:focus, input:focus-visible, input:focus-within {
    background-color: #F6F6F6;
    border: none;
    font-size: 36px;
    width: 100%;
    overflow: hidden;
    z-index: 15;
}

.share {
    background-color: #FFDF5A;
    height: 15vh;
    display: flex;
}

.shareBtn {
    margin: 0 auto;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 5.5px 5.5px 0px #000000;
    border-radius: 95px;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    padding: 16px;
}

footer {
    height: 10vh;
    margin: 0 auto;
}

footer .container p {
    margin: 24px auto;
    text-align: center;
    width: 50%;
}